{% include 'header.html' %} 
 
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{ url_for('static', filename='images/bg_4.jpg') }}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">About Us</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section services-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
            <div class="w-100">
              <span class="subheading">Welcome to tourify</span>
              <h2 class="mb-4" >It's time to start your adventure</h2>
              <p style="text-align: justify !important;">India's tourism spots offer a captivating tapestry of diversity and charm. From the timeless beauty of the Taj Mahal to the royal splendor of Rajasthan's forts, each destination tells a unique story. Whether it's the spiritual aura of Varanasi, the serene landscapes of Kerala's backwaters, or the bustling streets of Mumbai, every corner of India promises an unforgettable experience. Wildlife enthusiasts can explore the rich biodiversity of national parks, while adventurers can trek through the majestic Himalayas or relax on the sun-kissed beaches of Goa. With its blend of history, culture, and natural beauty, India beckons travelers from around the globe to embark on a journey of discovery and wonder.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                <div class="services services-1 color-1 d-block img" style="background-image: url({{ url_for('static', filename='images/services-1.jpg') }});">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
                  <div class="media-body">
                    <h3 class="heading mb-3">Activities</h3>
                    <p>AI based amazing recommendation</p>
                  </div>
                </div>      
              </div>
              <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                <div class="services services-1 color-2 d-block img" style="background-image: url({{ url_for('static', filename='images/services-2.jpg') }});">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                  <div class="media-body">
                    <h3 class="heading mb-3">Travel Blogs</h3>
                    <p>Explore the travel blocgs and vlogs</p>
                  </div>
                </div>    
              </div>
              <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                <div class="services services-1 color-3 d-block img" style="background-image: url({{ url_for('static', filename='images/services-3.jpg') }});">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
                  <div class="media-body">
                    <h3 class="heading mb-3">Travel Guide</h3>
                    <p>Get a free guidance with us </p>
                  </div>
                </div>      
              </div>
              <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                <div class="services services-1 color-4 d-block img" style="background-image: url({{ url_for('static', filename='images/services-4.jpg') }});">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
                  <div class="media-body">
                    <h3 class="heading mb-3">Location Manager</h3>
                    <p>Trace your location simply</p>
                  </div>
                </div>      
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="ftco-section ftco-about img"style="background-image: url({{ url_for('static', filename='images/bg_1.jpg') }});">
 <div class="overlay"></div>
 <div class="container py-md-5">
  <div class="row py-md-5">
   <div class="col-md d-flex align-items-center justify-content-center">
    <a href="{{ url_for('static', filename='indiatravel.mp4') }}" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
     <span class="fa fa-play"></span>
   </a>
 </div>
</div>
</div>
</section>

<section class="ftco-section ftco-about ftco-no-pt img">
 <div class="container">
  <div class="row d-flex">
   <div class="col-md-12 about-intro">
    <div class="row">
     <div class="col-md-6 d-flex align-items-stretch">
      <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url({{ url_for('static', filename='images/about-1.jpg') }});">
      </div>
    </div>
    <div class="col-md-6 pl-md-5 py-5">
      <div class="row justify-content-start pb-3">
        <div class="col-md-12 heading-section ftco-animate">
         <span class="subheading">About Us</span>
         <h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
         <p style="text-align: justify !important;">India's tourism spots offer a captivating tapestry of diversity and charm. From the timeless beauty of the Taj Mahal to the royal splendor of Rajasthan's forts, each destination tells a unique story. Whether it's the spiritual aura of Varanasi, the serene landscapes of Kerala's backwaters, or the bustling streets of Mumbai, every corner of India promises an unforgettable experience. Wildlife enthusiasts can explore the rich biodiversity of national parks, while adventurers can trek through the majestic Himalayas or relax on the sun-kissed beaches of Goa. With its blend of history, culture, and natural beauty, India beckons travelers from around the globe to embark on a journey of discovery and wonder.</p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>
</section>
</footer>



{% include 'footer.html' %} 