{% include 'header.html' %} 
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="index.html">Blog <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Blog Details</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3">A Blog on the Great India Tour spots</h2>
        <p style="text-align: justify;">Tourism is the largest and fastest-growing industry across the world. It is a source of revenue and employment. It also gives the opportunity for people to understand the culture, civilization, and religious aspects of a country. There are many countries whose main source of revenue is Tourism. It is an export that is not visible which earns valuable foreign exchange without any substantial or actual loss of internal resources. Tourism is a unique type of highly labor-intensive industry. It provides different services that are needed as well as expected by the incoming tourists. Tourism is one of the largest industries in terms of money spent by tourists in the countries they visit. The amount received from the Tourism industries sometimes exceeds the Gross National Product of many countries.</p>
        <p>
          <img src="{{ url_for('static', filename='images/bg_5.jpg') }}" alt="" class="img-fluid">
        </p>
        <p style="text-align: justify;">India is one of the most popular tourist destinations in Asia and has been successful in attracting domestic and international tourists. India has fascinated many tourists across the globe with her secularism and her culture. The scenic landscape, hill stations, historical sites, architecture and monuments, beaches, and enchanting backwater, places of religious interest make India a preferred destination for tourists from all over the world. Tourism in India has immense potential of developing into a high revenue-generating industry. Better connectivity of transport and communication, improved hospitality services and standard of living and value of money to the tourists from foreign countries have led to an increase in domestic as well as international Tourism.</p>
        <h2 class="mb-3 mt-5">#2. Tourism</h2>
        <p>Tourism is one of the most important and fastest-growing industries in today’s world that creates a lot of job opportunities. It generates a lot of revenue and adds to the economy of the country. Apart from generating jobs and revenue, it gives an opportunity for people of different countries and cultures to move and mingle with other cultures and social environments for the purpose of entertainment as well as professional purposes. It is only through Tourism that the world can get closer and know each other both socially, culturally and religiously. It creates good bonding among people of different languages and cultures. It also paves the way to understand and explore the rich heritage and ancient history of an unknown place.</p>
        <p>
          <img src="{{ url_for('static', filename='images/bg_1.jpg') }}" alt="" class="img-fluid">
        </p>
        <p>India is one of the most preferred tourist destinations in Asia because of its beautiful landscape, rich cultural heritage, myriad attractions and valuable ancient history. India serves as the hub of different cultures and languages within it and has always attracted domestic and international tourists.</p>
    </div>
  </div>
</section> <!-- .section -->	

<section class="ftco-intro ftco-section ftco-no-pt">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-12 text-center">
    <div class="img"  style="background-image: url({{ url_for('static', filename='images/bg_2.jpg') }});">
     <div class="overlay"></div>
     <h2>We Are Tourify A Travel Recommneder</h2>
     <p>Get AI based travel recommnedation to celebrate your holidays vibe</p>
     <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Travel With Us</a></p>
   </div>
 </div>
</div>
</div>
</section>


{% include 'footer.html' %} 